.info {
  flex-shrink: 0;
  width: 150px;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 10px;
    box-shadow: 0 0 10px 1px #b5b5b5;
  }

  &__item-wrapper {
    display: none;
    flex-direction: column;
    gap: 10px;

    &.show {
      display: flex;
      animation: wobble-hor-bottom 0.8s both;
    }
  }

  &__item-text {
    font-size: 14px;
  }

  &__btn {
    width: 100%;
    padding: 5px;
    background: #00a0a0;

    font-weight: 700;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
  }
}