main.main
    .container

        .main__category
            include ../../components/category/category

        .main__list
            include ../../components/list/list
            include ../../components/info/info

        .main__orders
            include ../../components/orders/orders